.purchase-form {
  width: 500px;
  margin: 0 auto;
}
.purchase-form__header {
  background: transparent;
  color: #f0505b;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px;
}

.input-wrong {
  border-bottom: 1px solid #c92100;
  background: linear-gradient(180deg,transparent 95%,#c92100 0);
  transition: none;
}

.back-navigation {
  background: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  position: absolute;
  left: 10px;
  top: 70px;
  &:hover {
    color: #f0505b;
  }
  clr-icon {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
