<div class="container" *ngIf="itemData">
  <div class="row purchase-form">
    <button class="back-navigation" (click)="backClicked()"><clr-icon shape="angle"></clr-icon> Back</button>
    <header class="purchase-form__header">
      {{itemData.name}}<span *ngIf="itemData.capacity !== null">, {{itemData.capacity}} GB</span>
    </header>
    <form>
      <section class="form-block" [formGroup]="purchaseForm">
        <div class="form-group">
          <label>Price</label>
          <input type="text" id="formFields_1" size="35" value="£{{itemData.premium_price}}" disabled>
        </div>
        <div class="form-group">
          <label for="aForm_1">Your Email</label>
          <input type="email" id="aForm_1" formControlName="email" placeholder="Enter your email" size="45" (blur)="onBlurMethod()" [ngClass]="{'input-wrong' : formErrors.email}">
        </div>
        <div class="form-group">
          <label for="aForm_2">Your Name</label>
          <input type="text" id="aForm_2" placeholder="Enter your full name" size="45" disabled>
        </div>
        <div class="form-group">
          <label for="aForm_3">Card Number</label>
          <input type="number" id="aForm_3" placeholder="Card number" size="35" disabled>
        </div>
        <div class="form-group">
          <label for="aForm_4">Name on card</label>
          <input type="text" id="aForm_4" placeholder="Name on card" size="35" disabled>
        </div>
        <div class="form-group">
          <label for="aForm_5">Card CCV</label>
          <input type="number" id="aForm_5" placeholder="CCV" size="3" disabled>
        </div>
        <div class="form-group">
          <label for="aForm_6">Your Message</label>
          <textarea id="aForm_6" rows="5" disabled></textarea>
        </div>
        <button type="button" class="btn btn-primary" (click)="submitItem(itemData.id)">Submit</button>
      </section>
    </form>
  </div>
</div>
