<div class="container">
<div class="row">
  <div *ngFor="let item of itemsData;" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-shop-item [data]="item"></app-shop-item>
  </div>
</div>
</div>
