<div class="card">
  <div class="card-header">
    {{item.name}}<span *ngIf="item.capacity !== null">, {{item.capacity}} GB</span> <span class="item-purchases">Purchases: {{item.purchases}}</span>
  </div>
  <div class="card-block">
    <div class="card-media-block">
      <div class="card-media-description">
            <span class="card-media-title">
                Premium: £{{item.premium_price}}
            </span>
        <span class="card-media-text">
                Everything from accidental damage, theft, loss and more.
            </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/shop' , item.id]" class="btn btn-sm btn-link">Select</a>
  </div>
</div>
